/* =========================================
   GLOBAL CSS
========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111111;
  font-family: Arial, sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #020202;
}

body {
  overflow-x: hidden;
}